.admonition-content {
  --color-el-important: #3498db;
  --color-bg-important: rgba(52, 152, 219, 0.1);
  --color-el-info: #7633db;
  --color-bg-info: rgba(118, 51, 219, 0.1);

  padding: 15px 30px 15px 15px;
  border-left: 8px solid;
  margin-bottom: 1rem;
}

.admonition-content p {
  margin: 0;
}

.admonition-content h5 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
  letter-spacing: 0.1px;
}

.admonition-important {
  background-color: var(--color-bg-important);
  border-color: var(--color-el-important);
}
.admonition-important h5,
.admonition-important svg {
  color: var(--color-el-important);
}

.admonition-info {
  background-color: var(--color-bg-info);
  border-color: var(--color-el-info);
}
.admonition-info h5,
.admonition-info svg {
  color: var(--color-el-info);
}

.admonition-label {
  display: flex;
  gap: 6px;
}

.admonition-label span {
  width: 24px;
  height: 24px;
}

.admonition-label svg {
  width: 100%;
  height: 100%;
}
